body {
    background-color: #09092A;
    font-family:'Times New Roman', Times, serif;
}
h1 {
    text-align: center;
    color: #4C00FF;
}
h2 {
    text-align: left;
    color:#E9ECF8;
}
p {
    text-align: left;
    color: #E9ECF8
}